Flask==0.10.1
gevent==1.1.0
glob2==0.4.1
greenlet==0.4.9
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
msgpack-python==0.4.7
netifaces==0.10.4
psutil==4.0.0
pyzmq==15.2.0
Werkzeug==0.11.4
zerorpc==0.5.2


el programa requiere nueva version por que en python 3 
se modifico la libreria urllib2

comprobar con una version antigua de de python ejemplo 2.7
