{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div id="discoss">
        <div class="box">
            <div class="box-header">
                <span><h1><p><em>Discos</em></p></h1></span>
            </div>
            <div class="box-content">
                <table id="processes" class="table table-condensed">
                    <thead>
                        <tr>
                            <th><p><em>Dispositivo</em></p></th>
                            <th><p><em>Montado</em></p></th>
                            <th><p><em>Tipo</em></p></th>
                            <th><p><em>Opciones</em></p></th>
                            <th><p><em>Espacio (total)</em></p></th>
                            <th><p><em>Espacio (usado)</em></p></th>
                            <th><p><em>Espacio (libre)</em></p></th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for d in disks %}
                            <tr>
                                <td>{{ d.device }}</td>
                                <td>{{ d.mountpoint.decode("utf-8") }}</td>
                                <td>{{ d.type }}</td>
                                <td>{{ d.options }}</td>
                                <td>{{ d.space_total|filesizeformat }}</td>
                                <td>{{ d.space_used|filesizeformat }} ({{ d.space_used_percent }} %)</td>
                                <td>{{ d.space_free|filesizeformat }}</td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <span><h1><p><em>Discos I/O</em></p></h1></span>
            </div>
            <div class="box-content">
                <table id="processes" class="table">
                    <thead>
                        <tr>
                            <th><p><em>Dispositivo</em></p></th>
                            <th><p><em>Contar Lectura</em></p></th>
                            <th><p><em>Contar Escrito</em></p></th>
                            <th><p><em>Lectura bytes</em></p></th>
                            <th><p><em>Escritura bytes</em></p></th>
                            <th><p><em>Lectura tiempo (ms)</em></p></th>
                            <th><p><em>Escritura tiempo (ms)</em></p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dev, io in io_counters %}
                        <tr>
                            <td>{{ dev }}</td>
                            <td>{{ io.read_count }}</td>
                            <td>{{ io.write_count }}</td>
                            <td>{{ io.read_bytes }}</td>
                            <td>{{ io.write_bytes }}</td>
                            <td>{{ io.read_time }}</td>
                            <td>{{ io.write_time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
