{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div class="box">
        <div class="box-header">
            <span><p><em>RED</em></p></span>
        </div>
        <div class="box-content">
            <table class="table">
                <thead>
                    <tr>
                        <th><p><em><h4>Interfaz</h4></em></p></th>
                        <th><p><em><h4>IP</h4></em></p></th>
                        <th><p><em><h4>Bytes enviados</h4></em></p></th>
                        <th><p><em><h4>Bytes recv</h4></em></p></th>
                        <th><p><em><h4>Paquetes enviados</h4></em></p></th>
                        <th><p><em><h4>Paquetes recv</h4></em></p></th>
                        <th><p><em><h4>Errores en</h4></em></p></th>
                        <th><p><em><h4>Errores actuales</h4></em></p></th>
                        <th><p><em><h4>Falla en</h4></em></p></th>
                        <th><p><em><h4>Falla abandonada</h4></em></p></th>
                        <th><p><em><h4>RX/s</h4></em></p></th>
                        <th><p><em><h4>TX/s</h4></em></p></th>
                    </tr>
                </thead>
                <tbody>
                    {% for io in network_interfaces %}
                    <tr>
                        <td>{{ io.name.decode("utf-8") }}</td>
                        <td>{{ io.ip }}</td>
                        <td>{{ io.bytes_sent }}</td>
                        <td>{{ io.bytes_recv }}</td>
                        <td>{{ io.packets_sent }}</td>
                        <td>{{ io.packets_recv }}</td>
                        <td>{{ io.errors_in }}</td>
                        <td>{{ io.errors_out }}</td>
                        <td>{{ io.dropped_in }}</td>
                        <td>{{ io.dropped_out }}</td>
                        <td>{{ io.send_rate|default(0)|filesizeformat }}</td>
                        <td>{{ io.recv_rate|default(0)|filesizeformat }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <span><p><em><h3>Conexiones</h3></em></p></span>
            <small class="pull-right">Listing {{ connections|count() }} connections</small>
        </div>
        <div class="box-content">
            <form id="connections-form" action="" method="get">
                <table class="table">
                    <thead>
                        <tr>
                            <th><p><em><h4>FD</h4></em></p></th>
                            <th><p><em><h4>PID</h4></em></p></th>
                            <th><p><em><h4>Familia</h4></em></p></th>
                            <th><p><em><h4>Tipo</h4></em></p></th>
                            <th><p><em><h4>direcciones locales</h4></em></p></th>
                            <th><p><em><h4>direccion remota</h4></em></p></th>
                            <th><p><em><h4>Estado</h4></em></p></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>
                                <select name="family">
                                    <option value="">Todas</option>
                                    {% for val in socket_families.itervalues() %}
                                        <option value="{{ val }}" {{'selected="selected"' if family == val}}>{{ val }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <select name="type">
                                    <option value="">Todas</option>
                                    {% for val in socket_types.itervalues() %}
                                        <option value="{{ val }}"  {{'selected="selected"' if type == val}}>{{ val }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <input type="text" name="local_addr" value="{{ local_addr_host }}{{ ":" + local_addr_port|string() if local_addr_port }}" />
                            </th>
                            <th>
                                <input type="text" name="remote_addr" value="{{ remote_addr_host }}{{ ":" + remote_addr_port|string() if remote_addr_port }}" />
                            </th>
                            <th>
                                <select name="state">
                                    <option value="">Todas</option>
                                    {% for val in states %}
                                        <option value="{{ val }}"  {{'selected="selected"' if state == val}}>{{ val }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in connections %}
                        <tr>
                            <td>
                                {{ c.fd if c.fd > 0 else "-" }}
                            </td>
                            <td>
                                {% if c.pid %}
                                    <a href="{{ url_for(".process", pid=c.pid, section="connections") }}">{{ c.pid }}</a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ c.family }}</td>
                            <td>{{ c.type }}</td>
                            <td>
                                {{ c.local_addr_host|default("", True) }}:{{ c.local_addr_port|default("", True) }}
                            </td>
                            <td>
                                {{ c.remote_addr_host|default("", True) }}:{{ c.remote_addr_port|default("", True) }}
                            </td>
                            <td>{{ c.state }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
    </div>
</div>
{% endblock %}