{% extends "process.html" %}
{% block process_content %}
    <table class="table">
        <thead>
            <tr>
                <th>fd</th>
                <th>familia</th>
                <th>tipo</th>
                <th>direccion local</th>
                <th>puerto local</th>
                <th>direccion remota</th>
                <th>puerto remoto</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for c in connections %}
                <tr>
                    <td>{{ c.fd }}</td>
                    <td>{{ c.familia }}</td>
                    <td>{{ c.tipo }}</td>
                    <td>{{ c.local_addr_host if c.local_addr_host}}</td>
                    <td>{{ c.local_addr_port if c.local_addr_port}}</td>
                    <td>{{ c.remote_addr_host if c.remote_addr_host }}</td>
                    <td>{{ c.remote_addr_port if c.remote_addr_port}}</td>
                    <td>{{ c.state }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}